// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung Galaxy A33 5G (SM-A336B) Device Tree
 *
 * Board-level peripherals: PMIC (S2MPS34), touchscreen, display panel,
 * fingerprint, UFS storage, USB. Base SoC nodes come from exynos1280.dtsi
 * (transcribed from Samsung firmware).
 */

/dts-v1/;

#include "exynos1280.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Samsung Galaxy A33 5G (SM-A336B)";
	compatible = "samsung,a33x", "samsung,exynos1280";

	chosen {
		bootargs = "androidboot.hardware=exynos1280 clk_ignore_unused firmware_class.path=/vendor/firmware loop.max_part=7";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x180000000>;
	};

	reg_vdd_emmc: regulator-vdd-emmc {
		compatible = "regulator-fixed";
		regulator-name = "vdd_emmc";
		regulator-min-microvolt = <2900000>;
		regulator-max-microvolt = <2900000>;
		regulator-always-on;
	};
};

&uart0 {
	status = "okay";
};

&hsi2c0 {
	status = "okay";

	s2mps34_pmic: pmic@66 {
		compatible = "samsung,s2mps34-pmic";
		reg = <0x66>;
	};
};

&hsi2c1 {
	status = "okay";

	touchscreen@14 {
		compatible = "goodix,gt9916r";
		reg = <0x14>;
	};
};

&spi1 {
	status = "okay";

	fingerprint@0 {
		compatible = "goodix,gf9578";
		reg = <0>;
		spi-max-frequency = <9000000>;
	};
};

&decon {
	status = "okay";
};

&dsim0 {
	status = "okay";

	panel@0 {
		compatible = "samsung,ams646ya01";
		reg = <0>;
		vdd-supply = <&ldo6>;
	};
};

&ufs {
	status = "okay";
};

&dwmmc2 {
	status = "okay";
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	non-removable;
	vmmc-supply = <&reg_vdd_emmc>;
};

&usbdrd {
	status = "okay";
};

&gpu {
	status = "okay";
};

&abox {
	status = "okay";
};

&wifibt {
	status = "okay";
};

&rtc {
	status = "okay";
};
